.form {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 800px;
  margin-left: 20rem;
  margin-top: 10rem;
  /* background-color: er; */
  background-color: #25d2288c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

/* .form .title {
  color: royalblue;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.form input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  border-radius: 8px;
  width: 95%;
  height: 50px;
}

.form textarea {
  border-radius: 8px;
  height: 200px;
  width: 95%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid rgb(219, 213, 213);
}

.form button {
  align-self: flex-end;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: #25d228a1;
  color: #fff;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.form button:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, #25d22867 0%, #25d22855 100%);
}

.container {
  display: flex;

  height: 75vh; /* adjust this to set the height of the container */
}

.sidebar {
  width: 10%;
  border-right: 4px solid #25d2288c;
  min-width: 100px;
  box-sizing: border-box;
  height: 1000px;
}

.sidebar button {
  --color: #25d2288c;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

.sidebar button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.sidebar button:hover {
  color: white;
}

.sidebar button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.sidebar button:hover::before {
  top: -30px;
  left: -30px;
}

.sidebar button.active {
  background-color: #25d228a1;
  color: #fff;
  /* Add any additional styles for the active button here */
}

/* EmailForm.module.css */

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-bottom: 16px;
  width: 40rem;
  height: 4rem;
}

.card h4 {
  margin-top: 5px;
  font-size: 15px;
  margin-bottom: 5px;
}

.card p {
  font-size: 14px;
  margin-bottom: 4px;
}

.card p:last-child {
  margin-bottom: 0;
}
