.card {
  width: 500px;
  height: 254px;
  padding: 0 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  background: #e8fad8;
  border-radius: 20px;
}

.card > * {
  margin: 0;
}

.cardtitle {
  font-size: 23px;
  font-weight: 900;
  color: #333;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.cardcontent {
  font-size: 13px;
  line-height: 18px;
  color: #333;
}

.cardform {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardform input {
  margin-top: 10px;
  outline: 0;
  background: rgb(255, 255, 255);
  box-shadow: transparent 0px 0px 0px 1px inset;
  padding: 0.6em;
  border-radius: 14px;
  border: 1px solid #333;
  color: black;
}

.cardform button {
  border: 0;
  width: 400px;
  background: #111;
  color: #fff;
  padding: 0.68em;
  border-radius: 14px;
  font-weight: bold;
}

.signup:hover {
  opacity: 0.8;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; /* adjust this to set the height of the container */
  background-color: white;
}
